@import './fonts/fonts.scss';

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --white: #ffffff;
  --black: #3F3F3F;
  --green-1: #58FFB5;
  --green-2: #208085;
  --green-3: #0E4447;
  --yellow: #FEED7E;
  --grey-1: #E4E4E4;
  --grey-2: #9A9A9A;
  --grey-3: #767676;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);
}

button {
  border: none;
  outline: none;
}





body {
  font-family: Geologica, 'Times New Roman', Times, serif;
  min-height: 100vh;
  background-color: var(--grey-2);
  color: var(--black)
}




