@import './fonts/fonts.scss';

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #ffffff;
  --black: #3f3f3f;
  --green-1: #58ffb5;
  --green-2: #208085;
  --green-2_transparent: rgba(32, 128, 133, 0.00);
  --green-3: #0e4447;
  --yellow: #feed7e;
  --grey-1: #e4e4e4;
  --grey-2: #9a9a9a;
  --grey-3: #767676;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);
}

button {
  border: none;
  outline: none;
}

body {
  font-family: Geologica, 'Times New Roman', Times, serif;
  min-height: 100vh;
  background-color: var(--grey-2);
  color: var(--black);
  margin: 0;
}

#app {
  padding: 20px;
}

* {
  box-sizing: border-box;
}
