.close {
  &-demo {
    margin: 20px;
    display: flex;
  }
  cursor: pointer;
  background-color: transparent;
  color: var(--white);
  height: 20px;
  width: 20px;
  &:hover {
    color: var(--yellow);
  }
  &__icon {
    color: inherit;
    height: 20px;
    width: 20px;
  }
}
